*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* Header Styles */
.header-section{
    background-image: url("../images/banner/banner1.png");
    height: 700px;
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: brown;
    position: relative;
    margin-bottom: 200px;
    
    
}
.header-title-section{
    position: absolute;
    top: 30%;
    left: 70%;
    padding-right: 30px;
}

.head-title{
    text-align: right;
    color: #151414;
    font-size:36px;
    
}
.head-description{
    color: #444343;
    margin-top: 30px;
   text-align: justify;

}















/* Image Part && Text */
.img-part{
    height: 500px;
}
.middle-part{
    display: flex;
    gap: 40px;
}
.text-part{
    margin-top: 250px;
}
h7{
    display: block;
    line-height: 20px;
    color: #444343;
    margin-bottom: 07px;
}
.heading-title{
        color: #151414;
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 20PX;
    }
.heading-description{
    color: #444343;
    font-size: 20px;
    margin-bottom: 20px;
    justify-content: right;
}




/* My Plans Styles */
.my-plans-section{
    margin-top: 170px;
    margin-left: 30px;
}
.my-plan-container{
    display: flex;
    gap: 30px;
}

.mindset{
    margin-top: 150px;
    margin-left: 100px;
    margin-right: 100px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url("../images/watch.png");
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.contact{
    background-color:black;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 150px;
    height: 400px;
}
.mindset-title{
    position: absolute;
    top: 30%;
    left: 10%;
    font-weight: 700;
    color: #FFFFFF;
    

}
.btn-primary{
    position: absolute;
    top: 55%;
    left: 10%;
    border: 0;
    padding: 15px 20px;
    color: #F15B22;
    border-radius: 5px;

}
.future-title{
    padding-top: 100px;
    padding-left: 140px;
    color: #FFFFFF;
}
.future-description{
    color: white;
    padding-top: 20px;
    padding-left: 140px;
    font-size: 16px;
}
.email{
    color: white;
    padding-top: 30px;
    padding-left: 140px;
}